/* * {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  width: 800px;
  margin: 0 auto;
}

h1 {
  color: rgba(0, 0, 0, 4);
  font-size: 21px;
  margin-top: 80px;
  line-height: 24px;
  font-weight: bold;
}

.firstParagraph {
  color: grey;
  font-size: 12px;
  margin-top: 36px;
  margin-bottom: 52px;
  line-height: 20px;
}

p {
  color: rgba(0, 0, 0, 4);
  font-size: 12px;
  line-height: 23px;
}

img {
  width: 1020px;
  margin-top: 90px;
  margin-bottom: 90px;
  display: flexbox;
}

ol {
  font-size: 12px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 4);
}

.content {
  color: rgba(0, 0, 0, 4);
  font-size: 17px;
  line-height: 19px;
  margin-top: 90px;
}

h2 {
  color: rgba(0, 0, 0, 4);
  font-size: 17px;
  line-height: 19px;
  margin-bottom: 28px;
  font-weight: bold;
  margin-top: 64px;
}

h3 {
  color: rgba(0, 0, 0, 4);
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 28px;
  margin-top: 56px;
  font-weight: bold;
}

h4 {
  color: rgba(0, 0, 0, 4);
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 28px;
  margin-top: 26px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed coral;
  line-height: 20px;
}

blockquote {
  color: rgba(0, 0, 0, 4);
  font-size: 12px;
  line-height: 23px;
  font-style: italic;
  margin-top: 52px;
  margin-bottom: 52px;
} */

!
/* общие стили для страницы */

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
hr {
  width: 700px;
  margin: 0 auto;
}

img {
  width: 1024px;
  margin: 0 auto;
  display: block;
  margin-top: 90px;
  margin-bottom: 90px;
  /* картинке нужно назначать дисплей блок чтобы она реагировала на отступы, тк это особый тег */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

p,
ol,
ul,
blockquote {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: justify;
}

h1 + p {
  color: rgba(0, 0, 0, 0.4);
}

/* h1 + p {

} */

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed violet;
}

span {
  background-color: violet;
}

h1 {
  margin: 50px auto;
  font-size: 38px;
  line-height: 45px;
}

h2 {
  margin-top: 40px auto;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 36px auto;
  font-size: 28px;
  line-height: 32px;
}

h4 {
  margin-top: 32px auto;
  font-size: 24px;
  line-height: 28px;
}

h5 {
  margin-top: 28px auto;
  font-size: 22px;
  line-height: 24px;
}

hr {
  margin: 12px auto;
  width: 1024px;
}

blockquote {
  margin-top: 30px;
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: violet;
  top: 0;
  left: -17px;
  /* position: absolute; как новый слой в фигме */
}

h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  padding-left: 32px;
}

ol {
  list-style-type: decimal;
  padding-left: 32px;
}

li {
  margin: 10px auto;
}

html {
  scroll-behavior: smooth;
}

/* cтили для бокового меню */

.sidebar {
  width: 280px;
  position: fixed;
  top: 50px;
  left: 0;
  opacity: 0.3;
}

.sidebar:hover {
  opacity: 1;
  transition: all ease 0.6s;
}

.sidebar ol {
  width: 100%;
  text-align: start;
  font-size: 15px;
  line-height: 100%;
  margin: 10px 0;
  list-style-type: none;
  color: violet;
}

.sidebar ol ol {
  color: rgba(0, 0, 0, 0.4);
}

.sidebar li {
  font-size: inherit;
  margin: 6px 0;
}

.sidebar a {
  font-size: inherit;
  text-decoration: none;
  border-bottom: none;
}

/* стили для верхнего меню */

.menubar {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.menubar img {
  width: 350px;
  margin: 0;
}

.menubar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4)
  text-decoration: none;
  border-bottom: none;
  transition: all ease 0.3s;
}

.menubar a:hover {
  transition: all ease 0.3s;
  color: violet;
}
